/*######################################################*/
/*              Custom Layout                           */
/*######################################################*/
.custom.outer_face {
    position: relative;
    width: 100px; /* width of clock */
    height: 100px; /* height of clock */
    border-radius: 100px; /* clock round corner radius */
    background: transparent;
    box-shadow: inset 0 0 5px #aa6900;
    border: 0 solid gray; /* thickness of outer border */
    border: 0 solid gray; /* thickness of outer border */
	margin-left: auto;
	margin-right: auto;
}

.custom.outer_face::before, .outer_face::after, .outer_face .marker { /* time markers syle */
    content: "";
    position: absolute;
    width: 4px; /* width of 12-6 and 3-9 markers */
    height: 100%;
    background: cornflowerblue;
    z-index: 0;
    left: 50%;
    margin-left: -2px; /* set this value of 1/2 marker width */
    top: 0;
}

.custom.outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: cornflowerblue;
}

.custom.outer_face .marker {
    background: #808080;
    width: 3px; /* width of all other markers */
    margin-left: -1.5px; /* set this value of 1/2 marker width */
}

.custom.outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.custom.outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.custom.outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.custom.outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}

.custom.inner_face {
    position: relative;
    width: 88%;
    height: 88%;
    background: #3D4C66;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    left: 6%; /* set this value of 1/2 width value*/
    top: 6%; /* set this value of 1/2 height value*/
}

.custom.inner_face::before {
    /* clock center circle small */
    content: "";
    width: 9px; /* width of inner circle */
    height: 9px; /* height of inner circle */
    border-radius: 9px;
    margin-left: -4.5px; /* set this value of 1/2 width value*/
    margin-top: -4.5px; /* set this value of 1/2 height value*/
    background: black;
    position: absolute;
    -moz-box-shadow: 0 0 1.5px #808080;
    -webkit-box-shadow: 0 0 1.5px #808080;
    box-shadow: 0 0 1.5px #808080;
    top: 50%;
    left: 50%;
}

.custom.hand, .custom.hand.hour {
    position: absolute;
    width: 2px; /* width of hour hand */
    height: 30%; /* height of hour hand */
    top: 20%; /* set top to 50% - height */
    left: 50%;
    margin-left: -1px; /* set this value to 1/2 width */
    background: black;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: -1;
    -moz-box-shadow: 0 0 1.5px #808080;
    -webkit-box-shadow: 0 0 1.5px #808080;
    box-shadow: 0 0 1.5px #808080;
}

.custom.hand.minute {
    height: 45%; /* height of min hand */
    top: 5%; /* set top to 50% - height */
    width: 2.5px; /* width of min hand */
    margin-left: -1.25px; /* set this value to 1/2 width */
}

.custom.hand.second {
    height: 50%; /* height of sec hand */
    width: 1px; /* width of sec hand */
    margin-left: -0.5px; /* set this value to 1/2 width */
    top: 0;
    background: #aa6900;
}


/*######################################################*/
/*                Default Layout                        */
/*######################################################*/
.default.outer_face {
    position: relative;
    width: 100px; /* width of clock */
    height: 100px; /* height of clock */
    border-radius: 100px; /* clock round corner radius */
    background: #2A2A2A;
    box-shadow: inset 0 0 5px #aa6900;
    border: 0 solid gray; /* thickness of outer border */
    border: 0 solid gray; /* thickness of outer border */
	margin-left: auto;
	margin-right: auto;
}

.default.outer_face::before, .outer_face::after, .outer_face .marker { /* time markers syle */
    content: "";
    position: absolute;
    width: 4px; /* width of 12-6 and 3-9 markers */
    height: 100%;
    background: #aa6900;
    z-index: 0;
    left: 50%;
    margin-left: -2px; /* set this value of 1/2 marker width */
    top: 0;
}

.default.outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #aa6900;
}

.default.outer_face .marker {
    background: #505050;
    width: 3px; /* width of all other markers */
    margin-left: -1.5px; /* set this value of 1/2 marker width */
}

.default.outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.default.outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.default.outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.default.outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}

.default.inner_face {
    position: relative;
    width: 88%;
    height: 88%;
    background: #2A2A2A;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    left: 6%; /* set this value of 1/2 width value*/
    top: 6%; /* set this value of 1/2 height value*/
}

.default.inner_face::before {
    /* clock center circle small */
    content: "";
    width: 9px; /* width of inner circle */
    height: 9px; /* height of inner circle */
    border-radius: 9px;
    margin-left: -4.5px; /* set this value of 1/2 width value*/
    margin-top: -4.5px; /* set this value of 1/2 height value*/
    background: #505050;
    position: absolute;
    -moz-box-shadow: 0 0 1.5px black;
    -webkit-box-shadow: 0 0 1.5px black;
    box-shadow: 0 0 1.5px black;
    top: 50%;
    left: 50%;
}

.default.hand, .default.hand.hour {
    position: absolute;
    width: 2px; /* width of hour hand */
    height: 30%; /* height of hour hand */
    top: 20%; /* set top to 50% - height */
    left: 50%;
    margin-left: -1px; /* set this value to 1/2 width */
    background: #505050;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: -1;
    -moz-box-shadow: 0 0 1.5px black;
    -webkit-box-shadow: 0 0 1.5px black;
    box-shadow: 0 0 1.5px black;
}

.default.hand.minute {
    height: 45%; /* height of min hand */
    top: 5%; /* set top to 50% - height */
    width: 2.5px; /* width of min hand */
    margin-left: -1.25px; /* set this value to 1/2 width */
}

.default.hand.second {
    height: 50%; /* height of sec hand */
    width: 1px; /* width of sec hand */
    margin-left: -0.5px; /* set this value to 1/2 width */
    top: 0;
    background: #aa6900;
}


/*######################################################*/
/*                    Blue Layout                       */
/*######################################################*/
.blue.outer_face {
    position: relative;
    width: 100px; /* width of clock */
    height: 100px; /* height of clock */
    border-radius: 100px; /* clock round corner radius */
    background: #2A2A2A;
    box-shadow: inset 0 0 5px #337ab7;
    border: 0 solid gray; /* thickness of outer border */
    border: 0 solid gray; /* thickness of outer border */
	margin-left: auto;
	margin-right: auto;
}

.blue.outer_face::before, .outer_face::after, .outer_face .marker { /* time markers syle */
    content: "";
    position: absolute;
    width: 4px; /* width of 12-6 and 3-9 markers */
    height: 100%;
    background: #337ab7;
    z-index: 0;
    left: 50%;
    margin-left: -2px; /* set this value of 1/2 marker width */
    top: 0;
}

.blue.outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #337ab7;
}

.blue.outer_face .marker {
    background: #505050;
    width: 3px; /* width of all other markers */
    margin-left: -1.5px; /* set this value of 1/2 marker width */
}

.blue.outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.blue.outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.blue.outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.blue.outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}

.blue.inner_face {
    position: relative;
    width: 88%;
    height: 88%;
    background: #2A2A2A;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    left: 6%; /* set this value of 1/2 width value*/
    top: 6%; /* set this value of 1/2 height value*/
}

.blue.inner_face::before {
    /* clock center circle small */
    content: "";
    width: 9px; /* width of inner circle */
    height: 9px; /* height of inner circle */
    border-radius: 9px;
    margin-left: -4.5px; /* set this value of 1/2 width value*/
    margin-top: -4.5px; /* set this value of 1/2 height value*/
    background: #505050;
    position: absolute;
    -moz-box-shadow: 0 0 1.5px black;
    -webkit-box-shadow: 0 0 1.5px black;
    box-shadow: 0 0 1.5px black;
    top: 50%;
    left: 50%;
}

.blue.hand, .blue.hand.hour {
    position: absolute;
    width: 2px; /* width of hour hand */
    height: 30%; /* height of hour hand */
    top: 20%; /* set top to 50% - height */
    left: 50%;
    margin-left: -1px; /* set this value to 1/2 width */
    background: #505050;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: -1;
    -moz-box-shadow: 0 0 1.5px black;
    -webkit-box-shadow: 0 0 1.5px black;
    box-shadow: 0 0 1.5px black;
}

.blue.hand.minute {
    height: 45%; /* height of min hand */
    top: 5%; /* set top to 50% - height */
    width: 2.5px; /* width of min hand */
    margin-left: -1.25px; /* set this value to 1/2 width */
}

.blue.hand.second {
    height: 50%; /* height of sec hand */
    width: 1px; /* width of sec hand */
    margin-left: -0.5px; /* set this value to 1/2 width */
    top: 0;
    background: #337ab7;
}